html
    head
        title Este es tu código de verificación para iniciar sesión en KeyPax
        style 
            include email_templates.css
    body
        div.mail
            h1 Código de vefigicación:
            p #{code}.
            p Por favor, no compartas este código con nadie. Si no has intentado iniciar sesión, puede que tu contraseña haya sido comprometida.
            p El equipo de KeyPax.