html
    head
        style 
            include email_templates.css
    body
        div.mail
            h1 Verificado
            p Te email ha sido verificado con exito, ya puedes iniciar sesión
            a(class="a-btn--outline2" href="https://keypax.systes.net/login") Log-In
            p El equipo de KeyPax.