html
    head
        style 
            include email_templates.css
    body
        div.mail
            h1 Verificación expirada
            p Tu email de verificación ha expirado, por favor vuelve a intentar crear una cuenta.
            a(class="a-btn--outline2" href="https://keypax.sytes.net/signup") Sign-up
            p El equipo de KeyPax.