html
    head
        style 
            include email_templates.css
    body
        div.mail
            h1 Verificado
            p Tu email ha sido verificado con éxito, ya puedes iniciar sesión
            a(class="a-btn--outline2" href="https://keypax.sytes.net/login") Log-In
            p El equipo de KeyPax.