html
    head
        title Email de verificación KeyPax
        style 
            include email_templates.css
    body
        div.mail
            h1 Confirma tu email
            p Has intentado crear una cuenta en KeyPax con este email.
            h3 ¿Confirmar cuenta?
            a(class="a-btn--outline2" href="https://keypax.sytes.net/verificar/"+token) Confirmar
            p El equipo de KeyPax.
